<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>address:</strong>
  <%= @node.address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @node.node_type_id %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
