<p id="notice"><%= notice %></p>

<h1>Node Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @node_types.each do |node_type| %>
      <tr>
        <td><%= node_type.name %></td>
        <td><%= link_to 'Show', node_type %></td>
        <td><%= link_to 'Edit', edit_node_type_path(node_type) %></td>
        <td><%= link_to 'Destroy', node_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Node Type', new_node_type_path %>
