<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dist_file.name %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= image_tag @dist_file.attached.url %>
</p>

<%= link_to 'Edit', edit_dist_file_path(@dist_file) %> |
<%= link_to 'Download', download_dist_file_path(@dist_file) %> |
<%= link_to 'Back', dist_files_path %>
